<!DOCTYPE html>
{% load staticfiles %}
<html lang="fr" >
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}Content Gardening | Dommains Management System{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'main/css/sass/materialize.css'%}">
    <link rel="stylesheet" href="{% static 'main/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/jquery.datetimepicker.css' %}">
  </head>
  <body>
    {% block content %}
    {% endblock content %}

  </body>
  <script src="{% static 'main/js/jquery.min.js' %}" ></script>
  <script src="{% static 'main/js/autocomplete.min.js' %}" ></script>
  <script src="{% static 'main/js/jquery.datetimepicker.js' %}" ></script>
  <script src="{% static 'main/js' %}" charset="utf-8"></script>
</html>
